<!DOCTYPE html>
<html>
  <head>
    <title>TrainAI - Chatbot</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <a href="/"> TrainAI </a>
      </div>
      <header>
        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/chatbot">CHATBOT</a></li>
            <li><a class="active" href="/about">ABOUT</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <main>
      <div class="caption">
This website was created by <br><br>
MANUEL DOGBATSE<br>
CALEB ADEYEMO<br>
PATTRAWUT THANOMSING<br> <br> 
as a part of Artificial Intelligent module assessment.
        </div>
</main>
  </body>
</html>
