<!DOCTYPE html>
<html>
  <head>
    <title>TrainAI - Homepage</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <a href="/"> TrainAI </a>
      </div>
      <header>
        <nav>
          <ul>
            <li><a class="active" href="/">HOME</a></li>
            <li><a href="/chatbot">CHATBOT</a></li>
            <li><a href="/about">ABOUT</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <main>
      <div class="title-container">
        <h1>Welcome to TrainAI!</h1>
      </div>
      <div class="image-containers">
        <div class="image-container">
          <img src="/images/1.png" alt="Placeholder Image">
          <p class="caption">Smart AI chat</p>
          <p class="description">
          Get instant answers to your questions with our intelligent chatbot powered by cutting-edge AI technology.
          </p>
        </div>
        <div class="image-container">
          <img src="/images/2.png" alt="Placeholder Image">
          <p class="caption">Finding cheapest tickets</p>
            <p class="description">
            Save money on your train travel with our ticket comparison tool, which scours the web to find the best deals.
            </p>
        </div>
        <div class="image-container">
          <img src="/images/3.png" alt="Placeholder Image">
          <p class="caption">Train predictions</p>
          <p class="description">
          Stay informed about your journey with real-time train predictions, including arrival times and delays.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
